<!DOCTYPE html>
<html>
  <head>
    <title>StudentsBlog3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class ='container'>
        <div class="navbar-brand">
          <%= link_to "Students Blog", root_path %>
        </div>
        <div class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            Logged in as <%= current_user.email %> |
            <%= link_to "View Account", user_path(current_user.id) %> |
            <%= link_to "Edit Account", edit_user_registration_path %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %> |
            <%= link_to "Sign Up", new_user_registration_path, :method => "get" %>
          <% end %>
        </div>
      </div>
    </nav>

    <div class="container">
      <% flash.each do |key, value| %>
        <div class="<%= flash_class(key) %>">
          <%= value %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
</html>
